.banner {
    background-image: url(https://cdn.theatlantic.com/assets/media/img/mt/2019/10/Matrix/lead_720_405.gif?mod=1571236835);
    background-size: cover;
    background-position: center;
    padding: 200px 0;
}

.container {
    width: 900px;
    margin: auto;
}

.banner h1 {
  color: white;
}

.banner p {
    color: white;
    opacity: .7;
    font-size: 20px;
}

.btn-apply {
    display: inline-block;
    background-color: #1EDD88;
    padding: 16px 36px;
    border-radius: 50px;
    color: white;
}

